html{
  position:relative;
}
header{
  color:black;
  height:150px;
}
body{
  width:70%;
  margin-right:auto;
  margin-left:auto;
  background-color: whitesmoke;
}

nav{
  position:absolute;
  bottom:10px;
}
ul{
  margin:0;
}
.menu{
  display: flex;
}
.button {
  width:40px;
  height:40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color:black;
}
.button div{
  height: 3px;
  width:80%;
  background-color: black;
  color:black;
}
/*メニューボタンクリックの動き*/
/*メニュー表示*/
@keyframes button-top{
  0%{transform: rotate(0)}
  100%{transform: translateY(12px);
       opacity: 0;}
}
@keyframes button-bottom{
  0%{transform: rotate(0)}
  100%{transform: translateY(-12px);
       opacity: 0;}
}
/*メニュー非表示*/
@keyframes button-top-back{
  0%{transform: rotate(0);
     margin-top:50%;
     opacity: (0);
     }
  100%{transform: translateY(0);
       opacity: 1;}
}
@keyframes button-bottom-back{
  0%{transform: rotate(0);
     margin-bottom:50%;
     opacity: (0);
  }
  100%{transform: translateY(0);
       opacity: 1;}
}
.navContainer{
  display: none;
}
.navbar{
  display: flex;
  justify-content: flex-start;
  color:whitesmoke;
}
.navbar a{
  text-decoration: none;
  color:black;
  font-weight:bold;
}
.navbar li+li{
  margin-left:50px;
}
li{
  list-style-type: none;
}

#main{
  background-color: whitesmoke;
}

.workSite{
  display:grid;
  grid-gap: 2rem;
  grid-template-columns:1fr 1fr 1fr;
}
.workSiteList img{
  width:100%;
  height:90%;
}
.workSiteList{
  width:100%;
  height:100%;
}
footer{
  height:100px;
}
footer>div:first-child{
  height:100%;
  background-color:rgba(255,255,255,0.3);
  color:whitesmoke;
}
